<h1>Sign in</h1>

<div>
  <%= button_to "Sign in with OmniAuth", "/auth/developer", "data-turbo" => false  unless Rails.env.production? %>
  <%= button_to "Sign in with your Hotwire Club Account", "/auth/patreon", "data-turbo" => false %>
</div>
