---
title: Sponsors
---

<h2>Become a Sponsor</h2>

<p>
  Betterstimulus relies on sponsors to be sustainable. Are you looking to increase your brand's visibility and reach a targeted audience? Explore our tailored sponsorship packages designed to provide maximum exposure and engagement.
</p>

<h3>What do I get?</h3>

<ul>
  <li>Exposure in a mid-sized community effort with decent organic traffic:</li>
</ul>

<p class="label label-yellow">See the <a href="https://plausible.io/betterstimulus.com" target="_blank">Plausible.io stats</a> for reference.</p>

<ul>
  <li>A backlink from a domain with high authority:</li>
</ul>

<p class="label label-yellow">See the <a href="https://ahrefs.com/website-authority-checker/?input=betterstimulus.com" target="_blank">ahrefs authority checker</a> for reference.</p>


<h3>What do you offer?</h3>

We offer three packages tailored to your business needs and budget:

<div class="grid pricing-table">
  <div class="pricing-item label-purple">
    <h5>Marquee Sponsor</h5>
    <p><small>Exclusive monthly feature | Maximum exposure with prime placement</small></p>
    <div class="price">
      <h1>$500</h1>
      <small><strong>/month</strong></small>
    </div>
    <p class="price-alternative">&nbsp;</p>
    <a href="mailto:julian.rubisch@hey.com" role="button" class="secondary">Contact Sales</a>
    <ul role="list">
      <li>
        <svg viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
        </svg>
        <small>Top spot in the site header, additional spot in the site footer</small>
      </li>
      <li>
        <svg iewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
        </svg>
        <small>Site-wide, prominently displayed on every page</small>
      </li>
    </ul>
  </div>
  <div class="pricing-item label-purple">
    <h5>Site Sponsor</h5>
    <p><small>Consistent visibility across the site | Cost-effective long-term exposure</small></p>
    <div class="price">
      <h1>$150</h1>
      <small><strong>/month</strong></small>
    </div>
    <p class="price-alternative">$120/month if payed annually</p>
    <a href="mailto:julian.rubisch@hey.com" role="button" class="secondary">Contact Sales</a>
    <ul role="list">
      <li>
        <svg viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
        </svg>
        <small>Permanent spot in the sidebar and the site footer</small>
      </li>
      <li>
        <svg viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
        </svg>
        <small>Site-wide, visible on all pages</small>
      </li>
    </ul>
  </div>
  <div class="pricing-item label-purple">
    <h5>Page Sponsor</h5>
    <p><small>Specific page sponsorship | Visible only on the sponsored page</small></p>
    <div class="price">
      <h1>$50</h1>
      <small><strong>/month</strong></small>
    </div>
    <p class="price-alternative">$40/month if payed annually</p>
    <a href="mailto:julian.rubisch@hey.com" role="button" class="secondary">Contact Sales</a>
    <ul role="list">
      <li>
        <svg viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
        </svg>
        <small>Targeted exposure on a specific page</small>
      </li>
      <li>
        <svg viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
        </svg>
        <small>Ideal for promoting specific products or services</small>
      </li>
    </ul>
  </div>
</div>
