// Entry point for your Sass build
@use "@picocss/pico/scss/pico" with (
  $theme-color: "pumpkin"
);

@use "@picocss/pico/scss/colors" as *;
@use "@domchristie/turn/dist/turn";

@import url("./fonts.css");

:root {
  --pico-font-family-sans-serif: "Roboto", system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, Helvetica, Arial, "Helvetica Neue", sans-serif, var(--pico-font-family-emoji);
  letter-spacing: -0.1px;
  --pico-font-weight: 300;
}

[data-theme="light"], :root:not([data-theme="dark"]) {
  --pico-secondary: #{$sand-550};
  --pico-secondary-hover: #{$sand-700};
  --pico-secondary-hover-background: #{$sand-700};
  --pico-muted-color: #{$sand-550};
}

main {
  display: grid;
  grid-template-columns: 20% 1fr 10%;
  grid-template-rows: 1fr;
  grid-column-gap: 4rem;
  grid-row-gap: 2rem;
  justify-items: stretch;
  align-items: stretch;
}

.hidden {
  display: none;
}

// code blocks
.code-block-wrapper {
  position: relative;
  margin-bottom: var(--pico-spacing);
}

.code-clipboard-button {
  position: absolute;
  padding: 0.5rem;
  top: 0.5rem;
  right: 0.5rem;
  border-radius: 0.25rem;

  svg {
    width: 1rem;
    height: 1rem;
  }
}

pre {
  background: #151515;
  line-height: 1.7;
  padding: 1rem;
  margin-bottom: 0;
}

nav[aria-label="breadcrumb"] {
  padding-left: var(--pico-block-spacing-vertical);
  --pico-nav-breadcrumb-divider: '/';
  font-size: 0.875em;
}

article {
  // reset "article" default style
  --pico-card-box-shadow: none;
  padding-top: 0;
}

aside.category-subnav {
  ul {
    margin: 0;
    li {
      padding: 0;

      a {
        padding: 0;
        padding-left: calc(var(--pico-nav-element-spacing-horizontal)* 1.5);
        margin: 0;
        border-left: 1px solid #{$sand-200};
        border-radius: 0;

        &.active {
          border-left: 1px solid #{$sand-550};
        }
      }
    } 
  }
}

.border {
  border-width: 3px;
  border-style: solid;
  border-radius: calc(var(--pico-border-radius) * 1.5);
}

.border-green {
  border-color: #{$green-300};
}

.label {
  display: inline-flex;
  align-items: center;
  border-radius: calc(var(--pico-border-radius));
  padding: 0.25rem 0.5rem;
  font-weight: 400;
}

.label-green {
  background-color: #{$green-50};
  border: 1px solid #{$green-300};
  color: #{$green-500};
}

.label-red {
  background-color: #{$red-50};
  border: 1px solid #{$red-300};
  color: #{$red-500};
}

.label-purple {
  background-color: #{$purple-50};
  border: 1px solid #{$purple-300};
  color: #{$purple-500};
}
